/* Rick & Morti section */
body {
    margin: 0;
}
.ramApiWrapper{
    width: 100%;
    height: 40px;
    margin: 0;
    background-color: rgba(0,0,0,0.7);
    box-shadow: 1px 1px 1px #eaf134
}

.ramApiText{
    color: #1df7f6;
    display: inline-flex;
    align-content: center;
    margin: 10px 35px;
    font-family: 'Give You Glory', cursive;
    font-weight: bold;
    font-size: 23px;
    text-shadow: 2px 2px 4px red, 0 0 1em  #eaf134, 0 0 0.2em  #eaf134;
    
}
/* elements_wrapper */


#elements_wrapper{
    display: flex;

}

/* chapters List*/
.chapters_list{
    display:flex; 
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    background-color: rgb(177, 227, 103);
    width: 280px;
    height: 650px;
}
.loadButton{
    margin-bottom: 20px;
    background-color: rgba(0, 45, 20,0.5);
    color: white;
    border-radius: 10px;
}

/* chapters wrapper Div */

#chapters_wrapper {
    width: 100%;
    background-color: rgb(129, 129, 124);
}

/* chapters Div */

#episodesDiv{
    width: 850px;
    height:600px;
    background-color:white;
    border-radius: 20px;
    margin: 20px;
    display: flex;
}

.episodeDiv{
    width: 15%;
    height:20%;
    /* background-color:rgb(149, 108, 108); */
    border-radius: 20px;
    margin: 20px;
}
