/* Rick & Morti section */
body {
    font-family: 'Give You Glory', cursive;
    margin: 0;
}
.ramApiWrapper{
    width: 100%;
    height: 40px;
    margin: 0;
    background-color: rgba(0,0,0,0.7);
    box-shadow: 1px 1px 1px #eaf134
}

.ramApiText{
    color: #1df7f6;
    display: inline-flex;
    align-content: center;
    margin: 10px 35px;
    
    font-weight: bold;
    font-size: 23px;
    text-shadow: 2px 2px 4px red, 0 0 1em  #eaf134, 0 0 0.2em  #eaf134;
    
}
/* elements_wrapper */


#elements_wrapper{
    display: flex;

}

/* chapters List*/
.chapters_list{
    display:flex; 
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    background-color: rgb(177, 227, 103);
    width: 24%;
    
}
.loadButton{
    margin-bottom: 20px;
    background-color: rgba(0, 45, 20,0.5);
    color: white;
    border-radius: 10px;
}

/* chapters wrapper Div */

#chapters_wrapper {
     width: 100%;
  /*  height: 100%; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(129, 129, 124);
}

/* chapters Div */

#episodesDiv{
    width: 100%;
    /* height: 100%; */
    background-color:white;
    border-radius: 20px;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
}

.episodeLink{
    width: 100%;
    height:8%;
    /* background-color:rgb(149, 108, 108); */
    border-radius: 20px;
    margin: 20px;
}
.episodeLink h2,h4  {
    margin:0}
.characterThumbnail{
     /* width: 25%; */
    /*height:10%; */
    margin: 10px;
    display: inline-grid ;
    justify-items: center;
    background-color: #eaf134;
}
.characterThumbnail img {
    max-width: 150px;
}